* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

@media (max-width: 768px) {
	body {
		overflow-x: hidden !important;
	}

	.header {
		width: 95% !important;
		margin-left: auto !important;
		margin-right: auto !important;
	}

	.customer-images {
		flex-wrap: wrap;
		justify-content: center;
	}
}
:root {
	--heading-family: "Nunito", sans-serif;
	--font-family: "Merriweather Sans", sans-serif;
	--second-family: "Aoboshi One", sans-serif;
	--third-family: "Merriweather", sans-serif;
	--white: #ffffff;
	--black: #000;
	--background: #faf3e0;
	--saffron: #ff3333;
	--btn: #f0c65c;
	--hover: #ff3333;
}
.main {
	background-image: url(./image/Hero-img.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	height: 80vh;
	z-index: -1;
}
.main::after {
	content: "";
	position: absolute;
	background-size: cover;
	width: 100%;
	height: 80vh;
	top: 0;
	left: 0;
	z-index: 1;
	background: rgba(0, 0, 0, 0.778);
}
.header {
	z-index: 10;
	background-color: var(--white);
}
.btn {
	background-color: var(--btn);
	padding: 12px 50px 12px 20px;
	margin-right: 5px;
	border: none;
}
.call {
	background-color: var(--btn);
	border: 2px solid var(--white);
	position: absolute;
	padding: 12px;
	margin-top: -13px;
	border-radius: 50%;
	margin-left: 10px;
}
.btn:hover,
.call:hover {
	background-color: var(--hover);
	color: var(--white);
}
.btn-1 {
	background-color: var(--btn);
	padding: 8px 0px;
	width: 120px;
	border: none;
}
.btn-1:hover {
	background-color: var(--hover);
}
.card-1 {
	z-index: 10;
}
.Heading {
	font-weight: 900;
	font-size: 45px;
	padding-right: 50px;
	text-transform: uppercase;
	color: var(--black);
	font-family: var(--heading-family);
}
.title {
	font-weight: 900;
	font-size: 45px;
	padding-right: 50px;
	text-transform: uppercase;
	color: var(--black);
	font-family: var(--second-family);
}

.scroll-D {
	display: flex;
	position: absolute;
	bottom: 0%;
	right: 0;
	z-index: 20;
	height: 100px;
	padding-top: 50px;
	width: fit-content;
}
.scroll {
	padding: 40px;
	background-color: #ffffff00;
	color: var(--btn);
	border-radius: 50px;
	border: 2px solid var(--btn);
	margin-left: -33px;
}
.sub-title-2 {
	font-size: 22px;
	font-weight: 500;
	font-style: var(--third-family);
}

/* section */
/* about */
.title-2 {
	font-size: 25px;
}
.title-3 {
	font-size: 20px;
}

ul {
	font-size: 15px;
}
li {
	margin-top: 5px;
}
.content {
	position: relative;
}
.underline {
	position: relative;
	left: 28%;
	background: none;
	top: -12px;
}
.btn-2 {
	background-color: var(--btn);
	padding: 10px 20px;
	border: none;
}
.btn-2:hover {
	background-color: var(--hover);
}

.customer-images img {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	border: 2px solid white;
	margin-left: -20px;
}

.customer-images img:first-child {
	margin-left: 0;
}

.customer-text {
	font-size: 20px;
}
.btn-3 {
	font-size: 20px;
	padding: 10px 20px;
	border: 1px solid #000;
	background-color: var(--btn);
	margin-left: 10px;
}
.icon {
	color: var(--gold);
}
/* review */
.center {
	border-right: 2px solid var(--background);
}

/* demo */
.hide {
	visibility: hidden;
}
.card {
	display: flex;
	align-items: center;
	justify-content: center;
	border: none;
	padding: 65px 40px;
	margin-left: -50px;
}
.demo-img {
	margin-top: 50px;
	height: 50px;
	width: 100px;
}
.style-underline {
	margin-left: 500px;
}

.input-style {
	width: 100%;
	border: 1px solid #ddd;
	color: #000;
	padding: 10px;
}

/* why us */
#Why-us {
	background-image: url(./image/bg-img.png);
	background-position: right;
	background-repeat: no-repeat;
	background-color: #fffcfc69;
	color: #393837;
	background-size: 200px 400px;
}

.parent {
	top: 50%;
	transform: translate(0%, 70%);
	margin-left: 60px;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(5, 1fr);
	gap: 15px;
	width: 80%;
	overflow: hidden;
}

.div1 {
	height: 150px;

	background-image: url(./image/Heading-01.png);
	background-repeat: no-repeat;
	background-position: top start;

	background-size: auto;
	grid-column: span 2 / span 2;
	grid-row: span 2 / span 2;
}
.text {
	padding-top: 35px;
	padding-left: 15px;
	font-size: 15px;
}
.div2 {
	height: 150px;

	background-image: url(./image/Heading-03.png);
	background-repeat: no-repeat;
	background-position: top start;

	grid-column: span 2 / span 2;
	grid-row: span 2 / span 2;
	grid-column-start: 1;
	grid-row-start: 4;
	padding-bottom: 50px;
}

.div3 {
	height: 150px;

	background-image: url(./image/Heading-02.png);
	background-repeat: no-repeat;
	background-position: top start;

	grid-column: span 2 / span 2;
	grid-row: span 3 / span 3;
	grid-column-start: 3;
	grid-row-start: 2;
}

/* Modules */
.module-img {
	height: 450px;
	width: 700px;
}
.struggle {
	font-size: 1.5rem;
}
/* tolls */

.tools-c {
	display: flex;
	float: left;
}
.tools-img {
	width: 100px;
	height: 100px;
}
/* Testimonials */

.carouse-card {
	margin-top: 45px;
	background-color: var(--white);
	padding: 20px;
	border-radius: 20px;
	text-align: center;
	margin-left: 20px;
	margin-bottom: 50px;
}

.carousel-card p {
	font-size: 16px;
	margin-bottom: 15px;
}

.person img {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	margin-bottom: 10px;
	cursor: pointer;
}
.person {
	display: flex;
	float: left;
	justify-content: space-around;
	text-align: center;
}
.person .person-name {
	padding: 20px;
	font-size: 20px;
}
.btn-test {
	padding: 5px 10px;
	background-color: white;
	border: none;
	font-size: 30px;
	margin: 10px;
	border-radius: 20px;
}
.btn-test:hover {
	background: var(--hover);
}
/* Custom Slick navigation (if needed) */
.slick-prev:before,
.slick-next:before {
	color: #fff;
}

/* footer */
.footer h4 {
	font-size: 1.3rem;
	font-weight: bold;
}
.footer p,
.footer ul {
	font-size: 0.9rem;
}
.footer a {
	text-decoration: none;
	font-weight: 500;
}
.footer-social a {
	transition: transform 0.3s;
}
.footer-social a:hover {
	transform: scale(1.2);
}

@media only screen and (max-width: 600px) {
	.main {
		height: 85vh;
	}
	.main::after {
		height: 85vh;
	}
	.Heading {
		font-size: 35px;
	}

	.underline {
		position: relative;
		left: 100px;
	}
	.hide {
		display: none;
	}

	.card {
		height: auto;
		margin-top: 0px;
		margin-left: 10px;
		padding: 10px;
	}
	.title {
		font-size: 35px;
	}
	.sub-title-2 {
		font-size: 15px;
	}

	.title-3 {
		font-size: 17px;
	}

	.card {
		margin-left: 0px;
	}
	.style-underline {
		margin-left: 200px;
	}
	.parent {
		top: 10%;
		transform: translate(0%, 10px);
		margin-left: 60px;
		padding-bottom: 50px;
	}
	.center {
		border-right: none;
	}
}
@media (min-width: 601px) and (max-width: 1024px) {
	/* Add your tablet-specific styles here */
	.main {
		height: 50vh;
	}
	.main::after {
		height: 50vh;
	}
	.title {
		font-size: 40px;
	}

	.card {
		margin-left: 20px;
		height: auto;
	}
	.style-underline {
		margin-left: 300px;
	}
	.hide {
		display: none;
	}
	.form {
		position: relative;
	}
	.parent {
		top: 20%;
		transform: translate(0%, 20px);
		margin-left: 50px;
		padding-bottom: 40px;
	}
	#demo i {
		width: 200px;
		display: flex;
		align-items: center;
	}
	.style-underline {
		margin-left: 50px;
	}
	.center {
		border-right: none;
	}
}
